/logs
database/
.*
!.gitignore
/ssl/*
!/ssl/omero.pem
!/ssl/README.md
/backups/*
!/backups/README.md
docker/docker-compose.yml
database-biomero/
metabase/
config/biomero-importer/groups_list.json
vault_local.yml