# Ansible managed


# Web applications
config set omero.web.apps '["omero_figure", "omero_iviewer", "omero_mapr", "omero_parade", "omero_fpbioimage"]'

# Login customisation
config set omero.web.login_logo "https://www.qualityzorg.nl/home/wp-content/uploads/LUMC-logo-1.png"

# Gunicorn settings
config set omero.web.wsgi_workers 17
config set omero.web.wsgi_threads 4
config set omero.web.application_server.host "0.0.0.0"
config set omero.web.application_server.port 4080

# CSRF trusted origins
config set csrf_trusted_origins '["https://{{ server_name }}", "https://{{ ansible_host }}"]'

# Default viewer configuration
config set omero.web.viewer.view "omero_iviewer.views.index"

# MAPR configuration
config set omero.web.mapr.config '[{"menu": "anyvalue", "config": {"default": ["Any Value"], "all": [], "ns": ["openmicroscopy.org/omero/client/mapAnnotation"], "label": "Any"}}]'

# Open with plugins
config set omero.web.open_with '[["omero_iviewer", "omero_iviewer_index", {"supported_objects": ["images", "dataset", "well"], "script_url": "omero_iviewer/openwith.js", "label": "OMERO.iviewer"}], ["omero_figure", "new_figure", {"supported_objects": ["images"], "target": "_blank", "label": "OMERO.figure"}], ["omero_fpbioimage", "omero_fpbioimage_index", {"supported_objects": ["images"], "label": "FPBioimage Viewer"}]]'

# Center plugins
config set omero.web.ui.center_plugins '[["Parade", "omero_parade/init.js.html", "omero_parade"]]'

# Top navigation links
config set omero.web.ui.top_links '[["Figure", "figure_index", {"title": "Open Figure in new tab", "target": "_blank"}], ["Any Value", {"viewname": "maprindex_anyvalue"}, {"title": "Find Any Value"}]]'